<!doctype html>

<html>
  <head>
    <title>StudyJam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>

    <!-- Top -->
    <!-- Profile -->
    <div class="top">
      <div id="profile">
        <div id="profileIcon"><button onclick="myFunction()" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-user"></span> User</button></div>
      </div>

		  <!-- User Icon -->
			<div id="profile">
					<div id="profileIcon"><button onclick="viewUser()"
									class="btn btn-info btn-sm dropbtn">
									<span class="glyphicon glyphicon-user">
									</span> Account
							</button>

						  <!-- Modal for profile -->
							<div id="myDropdown" class="dropdown-content">
									<button id="myBtn">Profile</button>
									<div id="myModal" class="modalProfile">
											<div class="modal-content">
													<div class="modal-header">
															<span class="close">&times;</span>
															<h2>John Doe</h2>
													</div>
													<div class="modal-body">
															<img src="/images/steve.jpg">
															<p>UCSD, Class of 2019</p>
															<p>Major: Cognitive Science</p>
															<p>Minor: Computer Science</p>
															<p>GPA: 3.4</p>
													</div>
											</div>
									</div>
									<a href="/">Sign Out</a>
							</div>
					</div>
			</div>

      <!-- Search Bar -->
      <div class="search">
        <form>
          <input type="text" name="search" placeholder="Search..">
        </form>
      </div>

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="/home"><b>Home</b></a></li>
        <li class="active"><b> {{className}} </b></li>
      </ol>
    </div>
    <!-- END TOP -->

    <!-- Contents of App -->
    <div id="main">

      <h1>Notes</h1>

      <button type="button" class="notebutton" data-toggle="modal" data-target="#newClassModal">
        <center>New Notes</center>
      </button>

      <button type="button" class="quizbutton" data-toggle="modal" data-target="#quizQModal">
        <center>View Quiz Questions</center>
      </button>

      <button type="button" class="studyguidebutton" data-toggle="modal" data-target="#vocabModal">
        <center>View Vocab Terms</center>
      </button>

      <!--Modal for making a new class -->
      <div id="newClassModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <form id="addNoteForm" action="javascript:addNote();">
                Notes Name:<br/>
                <input type="text" name="newNotesName">
                <br/><br/>
                <input type="submit" class="btn btn-default" value="Submit">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <!--Modal for viewing Vocab -->
      <div id="vocabModal" class="modal fade myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h2>Current Vocab Terms:</h2><br/>
              {{#each vocabList}}
              <p><b>{{term}}</b> - {{def}}</p>
              {{/each}}
              <br/><br/>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <!--Modal for viewing QuizQ -->
      <div id="quizQModal" class="modal fade myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h2>Current Quiz Questions:</h2><br/>
              {{#each quizList}}
              <p>Q: {{question}} </br> A: {{answer}} </br></p>
              {{/each}}
              <br/><br/>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->


      <div id="notesList">
          <ul>
            {{#each notesList}}
            <li><a href="/notePage/{{notesName}}"><div class="mycard2"><p>{{notesName}}</p></div></a></li>
            {{/each}}
        </ul>
        <br/>
      </div>

      <h1>LeaderBoard</h1>
      <ul id="lb">
        <li><img id="lbpic" src="/images/joash.jpg"></li>
        <li><img id="lbpic" src="/images/marissa.jpg"></li>
        <li><img id="lbpic" src="https://igx.4sqi.net/img/user/100x100/179641628-H1BRVTZKI0QVEX3J.jpg"></li>
      </ul>

    </div>
    <!-- End Main Content -->

    <!-- Scripts -->
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyChJr4sJsuol5Z_8-qIiqluW3VgVEKgOIw",
        authDomain: "studyjamapp.firebaseapp.com",
        databaseURL: "https://studyjamapp.firebaseio.com",
        storageBucket: "studyjamapp.appspot.com",
        messagingSenderId: "682675386486"
      };
      firebase.initializeApp(config);
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/study.js"></script>

  </body>

</html>
