<!doctype html>

<html>
  <head>
    <title>StudyJam</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>


  <body>

    <!-- Top -->
    <!-- Profile -->
    <div class="top">
      <div id="profile">
        <div id="profileIcon"><button onclick="myFunction()" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-user"></span> User</button></div>
      </div>

      <!-- User Icon -->
      <div id="profile">
        <div id="profileIcon">
          <button onclick="viewUser()" class="btn btn-info btn-sm" id="dropbtn">
            <span class="glyphicon glyphicon-user">
            </span> Account
          </button>

          <!-- Modal for profile -->
          <div id="myDropdown" class="dropdown-content">
            <a href="#" data-toggle="modal" data-target="#myModal">Profile</a>
            <a href="/">Sign out</a>

          </div>
        </div>
      </div>

      <div id="myModal" class="modal fade" style="padding-top: 100px">
        <div class="modal-content">
          <div class="modal-header">
            <span class="close" data-toggle="modal" data-target="#myModal">&times;</span>
            <h2>{{currFN}} {{currLN}}</h2>
          </div>
          <div class="modal-body">
            <img src="/images/placeholder.png" style="height:80px">
            <p>UCSD, Class of 2019</p>
            <p>Major: Cognitive Science</p>
            <p>Minor: Computer Science</p>
            <p>GPA: 3.4</p>
          </div>
        </div>
      </div>

      <!-- Search Bar -->
      <div class="search">
        <form>
          <img src="/images/StudyJam.gif" style="width: 50px;">
          <input type="text" id="searchBar" name="search" onkeyup="searchFunction()" placeholder="Search Notes..">
        </form>
      </div>

      <!-- Breadcrumb -->
      <ol class="breadcrumb">
        <li><a href="/home"><b>Home</b></a></li>
        <li class="active"><b> {{className}} </b></li>
      </ol>
    </div>
    <!-- END TOP -->

    <!-- Contents of App -->
    <div id="main">

      <h1>Notes</h1>

      <button type="button" class="notebutton" data-toggle="modal" data-target="#newClassModal">
        <center>New Notes</center>
      </button>

      <button type="button" class="quizbutton" data-toggle="modal" data-target="#quizQModal">
        <center>View Quiz Questions</center>
      </button>

      <button type="button" class="quizbutton" data-toggle="modal" data-target="#vocabModal">
        <center>View Vocab Terms</center>
      </button>

      <!--Modal for making a new notes -->
      <div id="newClassModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <form id="addNoteForm" action="javascript:addNote();">
                Notes Name:<br/>
                <input type="text" name="newNotesName" required>
                <br/><br/>
                <input type="submit" class="btn btn-default" value="Submit">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <!--Modal for viewing Vocab -->
      <div id="vocabModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h2>Current Vocab Terms:</h2><br/>
              {{#each vocabList}}
              <p><b>{{term}}</b> - {{def}}</p>
              {{/each}}
              <br/><br/>
              <form id="vocabForm2" method="post" action="/addVocab">
                Add a vocab term:<br/>
                Vocab Term:<br/>
                <input type="text" name="Term"> <br>
                Definition:<br/>
                <input type="text" name="Def">
                <br/><br/>
                <input type="submit" class="btn btn-default" value="Submit">
              </form>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->

      <!--Modal for viewing QuizQ -->
      <div id="quizQModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h2>Current Quiz Questions:</h2><br/>
              {{#each quizList}}
              <p>Q: {{question}} </br> A: {{answer}} </br></p>
              {{/each}}
              <br/><br/>
              <form id="quizForm2" method="post" action="/addQuizQ">
                Add a Quiz Question:<br/>
                Question:<br/>
                <input type="text" name="Term"> <br>
                Answer:<br/>
                <input type="text" name="Def">
                <br/><br/>
                <input type="submit" class="btn btn-default" value="Submit">
              </form>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->


      <div id="notesList">
          <ul id="searchUL">
            {{#each notesList}}
            <li><a href="/notePage/{{notesName}}"><div class="mycard2"><p>{{notesName}}</p></div></a></li>
            {{/each}}
        </ul>
        <br/>
      </div>

      <h1>LeaderBoard</h1>
      <ul id="lb">
        <li><center><img src="/images/placeholder.png" style="height: 60px; clip-path: circle();"><br>{{currFN}} {{currLN}}<br>Score: {{score}}</center></li>
        {{#each leaderboard}}
        <li><center><img src="/images/placeholder.png" style="height: 60px; clip-path: circle();"><br>{{fn}} {{ln}}<br>Score: 0</center></li>
        {{/each}}
      </ul>

      <button type="button" class="quizbutton" data-toggle="modal" data-target="#addCM">
        <center>Add Classmates</center>
      </button>
      
      <!--Modal for making a new notes -->
      <div id="addCM" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <form id="addCMForm" action="javascript:addCM();">
                First Name:<br/>
                <input type="text" name="CMFN" required>
                <br/>
                Last Name:<br/>
                <input type="text" name="CMLN" required>
                <br/>
                Email:<br/>
                <input type="text" name="CMEmail" required>
                <br/>
                <br/><br/>
                <input type="submit" class="btn btn-default" value="Submit">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->


      <div id="wrongAnswer" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h1>Oops, that was the wrong answer!</h1>
            </div>
          </div>
        </div>
      </div>


      
      <div id="rightAnswer" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <h1>YAY! That was correct! Your score is now {{score}}</h1>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->


      {{#if bool}}
      <!-- Modal for Daily Quiz --> 
      <div id="dailyQuiz" class="modal in fade" style="padding-top: 100px; width: 600px;">
        <div class="modal-content">
          <div class="modal-header">
            <h2>Daily Quiz!</h2>
          </div>
          <div class="modal-body">
            <h3>Q: Going out to users to discover what they need, often a solution to a problem.</h3>
            <br/>
            <button type="button" class="quizbutton" id="wrong" onclick="hideQuiz()">
              <center>Wizard of Oz</center>
            </button>
            <button type="button" class="quizbutton" id="wrong" onclick="hideQuiz()">
              <center>User Testing</center>
            </button>
            <br/>
            <button type="button" class="quizbutton" id="right" onclick="correct()">
              <center>NeedFinding</center>
            </button>
            <button type="button" class="quizbutton" id="wrong" onclick="hideQuiz()">
              <center>Design</center>
            </button>
          </div>
        </div>
      </div>
    {{/if}}

    </div>
    <!-- End Main Content -->

    <!-- Scripts -->
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyChJr4sJsuol5Z_8-qIiqluW3VgVEKgOIw",
        authDomain: "studyjamapp.firebaseapp.com",
        databaseURL: "https://studyjamapp.firebaseio.com",
        storageBucket: "studyjamapp.appspot.com",
        messagingSenderId: "682675386486"
      };
      firebase.initializeApp(config);
    </script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/study.js"></script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92962433-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>

</html>
